<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BWWS-Logout</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">       
    </head>
    <body>
        {% block content %}
            <div class="text-center" style="margin-top: 10%">
                <p>Logged out!</p>  
                <p>Click<a href="/accounts/login/"> here </a>to login again.</p>
            </div>
        {% endblock %}
    </body>
</html>