<!DOCTYPE html>
<html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BWWS-Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="margin-top: 10%;
                                      width: 30%;
                                      min-width: 300px;">
            <div class="border border-secondary" style="padding-top: 5px;
                                                        padding-bottom: 20px;
                                                        padding-left: 20px;
                                                        padding-right: 20px;
                                                        border-radius: .50rem">
                {% block content %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <p><center><b>Login</b></center></p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="usernameHelp">N</span>
                            </div>
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="passwordInput" style="
                                    padding-left: 16px;
                                    padding-right: 16px;
                                "> * </span>
                            </div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger">Log In</button>
                    </div>
                </form>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
