{% extends "base.html" %}

{% block content %}
{% load static %}

<div class=" mt-5 mb-4 row justify-content-md-center ">
    <div class="col-6 ">

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="a_limit_descrip">Type ABC Analyse</span>
            </div>
            <select class="custom-select" id="abc_type">
                <option value="menge_kum">Menge kumuliert</option>
                <option value="umsatz_kum" selected>Umsatz kumuliert</option>
            </select>
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="a_limit_descrip">Grenze A Ware</span>
            </div>
            <input type="number" id="a_limit" class="form-control" aria-describedby="a_limit_descrip" value='50' />
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="b_limit_descrip">Grenze B Ware</span>
            </div>
            <input type="number" id="b_limit" class="form-control" aria-describedby="b_limit_descrip" value='80' />
        </div>

        <div class="input-group m-1">
            <button type="button" class="btn btn-primary" id="update_button">Tabelle aktualisieren</button>
        </div>

        <div class="input-group m-1">
            <button type="button" class="btn btn-primary" id="display_grafik">Grafik anzeigen</button>
        </div>
    </div>
</div>
<script src="{% static 'js/abc_analyse.js' %}"></script>
<div class="row justify-content-md-center">
    <div class="col-10">

        <table class="table-responsive table-striped table-bordered" id="abc_table" style="max-width:100%;">
        </table>
    </div>
</div>

<div class="row justify-content-md-center mb-5" >
        <div class="chart-container" style="position: relative; height:40vh; width:80vw" id="div_canvas">

        </div>
</div>

{% endblock %}