{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">

    <div class="blog-featured">
        <div class="leading">
            <h1>Impressum / Datenschutz</h1>

            <p>Verantwortlich für den Inhalt:</p>

            <p><span class="caps">BWWS</span></p>

            <p>Test Straße 1 </p>

            <p>74523 Schwäbisch Hall</p>

            <p>E-Mail: info@test.de</p>

            <p>__________________________<br>

                <h1>Datenschutzerklärung</h1>

                <p>Die Nutzung unserer Seite ist ohne eine Angabe von personenbezogenen Daten möglich. Für die Nutzung
                    einzelner Services unserer Seite können sich hierfür abweichende Regelungen ergeben, die in diesem
                    Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen Daten (z.B. Name, Anschrift,
                    E-Mail, Telefonnummer, u.ä.) werden von uns nur gemäß den Bestimmungen des deutschen
                    Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn sie eindeutig einer bestimmten
                    natürlichen Person zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden Sie
                    im Bundesdatenschutzgesetz (<span class="caps">BDSG</span>) und dem Telemediengesetz (<span
                        class="caps">TMG</span>). Nachstehende Regelungen informieren Sie insoweit über die Art, den
                    Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch
                    den Anbieter</p>

                <p>Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist, ein
                    lückenloser Schutz vor Zugriffen durch Dritte somit unmöglich ist.</p>

                <h1>Auskunft/Widerruf/Löschung</h1>

                <p>Sie können sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung oder
                    Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf
                    einer erteilten Einwilligung unentgeltlich an uns wenden. Wir weisen darauf hin, dass Ihnen ein
                    Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten zusteht, sollte diesem
                    Anspruch keine gesetzliche Aufbewahrungspflicht entgegenstehen.</p>

                <h1>Haftungsausschluss</h1>

                <p>1. Inhalt des Onlineangebotes</p>

                <p>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität
                    der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden
                    materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen
                    Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht
                    wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches
                    oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der
                    Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
                    Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig
                    einzustellen.</p>

                <p>2. Verweise und Links</p>

                <p>Bei direkten oder indirekten Verweisen auf fremde Webseiten (“Hyperlinks”), die außerhalb des
                    Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem
                    Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich
                    und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erklärt
                    hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu
                    verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder
                    die Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb
                    distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, die
                    nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen
                    Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten
                    Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige
                    Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener
                    Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht
                    derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>

                <p>3. Urheber- und Kennzeichenrecht</p>

                <p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken,
                    Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente,
                    Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und
                    Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte
                    geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils
                    gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein
                    aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte
                    Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt
                    allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente,
                    Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne
                    ausdrückliche Zustimmung des Autors nicht gestattet.</p>

                <p>4. Datenschutz</p>

                <p>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher
                    Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des
                    Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen
                    Dienste ist – soweit technisch möglich und zumutbar – auch ohne Angabe solcher Daten bzw. unter
                    Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des
                    Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon-
                    und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten
                    Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten
                    Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.</p>

                <p>5. Rechtswirksamkeit des Haftungsausschlusses</p>

                <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese
                    Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden
                    Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile
                    des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt. (alle Informationen nach § 6
                    <span class="caps">TDG</span>)</p>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
{% endblock %}