{% extends "base.html" %}

{% block content %}
{% load static %}

<script src="{% static 'js/lagerkennziffern.js' %}"></script>
<div class="container" style="margin-top: 20px">
  <div id="table-responsive">
    <table id="lager" class="table table-striped table-bordered" style="width:100%;">
      <thead>
        <tr>
          <th style="vertical-align: top;">Produkt</th>
          <th style="vertical-align: top;">Name</th>
          <th style="vertical-align: top;">Mittlerer Bestand</th>
          <th style="vertical-align: top;">Umschlagshäufigkeit</th>
          <th style="vertical-align: top;">Lagerdauer</th>
          <th style="vertical-align: top;">Lagerzinssatz in %</th>
        </tr>
      </thead>
    </table>
  </div>
</div>


{% endblock %}