{% extends "base.html" %}

{% block content %}

{% load static %}
<script src="{% static 'js/quanti_table.js' %}"></script>

<div class="row justify-content-md-center mt-5 mb-4">
    <div class="col-6">

        <div class="input-group m-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <lable class="input-group-text">Bestellkosten</lable>
                </div>
                <input id="Bestellkosten" type="number" class="form-control" value="1" />
            </div>
        </div>

    </div>
</div>


<div class="row justify-content-md-center">
    <div class="col-9" id="table_area">
        <table class="talbe table-striped table-bordered" id="quanti_table" style="max-width:100%; min-width:30%;">
            <thead>
            </thead>
        </table>
    </div>
</div>

{% endblock %}