{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="row justify-content-md-center mt-5 mb-4">
    <div class="col-6">

        <div class="input-group m-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <lable class="input-group-text">Kriteriumname</lable>
                </div>
                <input id="kirtd_name" type="text" class="form-control" maxlength="10" />
            </div>
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <lable class="input-group-text">Wertung</lable>
            </div>
            <input id="kirtd_wertung" type="number" max="100" class="form-control" />
            <div class="input-group-append">
                <button id="kirtd_add_button" class="btn btn-primary">Kriterium hinzufügen</button>
            </div>
        </div>

        <button id="calculate" class="btn btn-primary">Ergebnis rechnen</button>

    </div>
</div>

<script src="{% static 'js/quali_table.js' %}"></script>

<div class="row justify-content-md-center">
    <div class="col-9" id="table_area">
        <table class="talbe table-striped table-bordered" id="quali_table" style="max-width:100%; min-width:30%;">
            <thead>
            </thead>
        </table>
    </div>
</div>

{% endblock %}