{% extends "base.html" %}

{% block content %}
{% load static  %}

<script src="{% static 'js/optimale_bestell.js' %}"></script>

<div class="row mt-5 mb-4 justify-content-md-center">
  <div class="col-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="bestellmenge_descrip">maximale Bestellmenge angeben</span>
      </div>
      <input type="number" id="bestellmenge" class="form-control" aria-describedby="bestellmenge_descrip" value="1" />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="bestellmenge_descrip">maximale Bestellungen</span>
      </div>
      <input type="number" id="maxbestellungen" class="form-control" aria-describedby="bestellmenge_descrip"
        value="10" max="1000" />
    </div>
  </div>
</div>



<div class="row justify-content-md-center ">
  <div class="col-9">

    <table id="optimale" class="table table-responsive  table-striped table-bordered" style="max-width:100%;">

      <thead>
        <tr>
          <th></th>
          <th>Produkt</th>
          <th>Name</th>
          <th>Einkaufspreis</th>
          <th>Listpreis</th>
          <th>Beschreibung</th>
          <th>Lagerkosten</th>
          <th>Bestellkosten</th>
          <th>Erstellungsdatum</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}