{% extends "base.html" %}
{% block content %}
    {% load static  %}
    <script src="{% static 'js/stammdaten.js' %}" ></script>
    <style>
        th {
            text-align: center;
        }
    </style>
    <div class="form-group">
        <div align="center">
            <div class="w-50" style="margin-top: 20px">
                <label for="tabelle">Tabelle wählen:</label>
                <select class="custom-select" name="tabelle" id="tabelle">
                    <option>-</option>
                    <option>Produkt</option>
                    <option>Lieferant</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center ">
        <div class="col-10">
            <div class="table-responsive" style="margin-right: 20px;
                                                padding-right: 15px;
                                                padding-left: 15px">
                <table id="produkt" class="table table-striped table-bordered" style="width:100%;
                                                                                    display: none;">
                    <thead>
                        <tr>
                        <th style="vertical-align: top;">Produkt</th>
                        <th style="vertical-align: top;">Name</th>
                        <th style="vertical-align: top;">Einkaufspreis in €</th>
                        <th style="vertical-align: top;">Listpreis in €</th>
                        <th style="vertical-align: top;">Beschreibung</th>
                        <th style="vertical-align: top;">Verbrauchsmenge</th>
                        <th style="vertical-align: top;">Lagerkosten in €</th>
                        <th style="vertical-align: top;">Bestellkosten in €</th>
                        <th style="vertical-align: top;">Bestand</th>
                        <th style="vertical-align: top;">Erstellungsdatum</th>
                        </tr>
                    </thead>
                </table>
                <table id="lieferant" class="table table-striped table-bordered" style="width:100%;
                                                                                        display: none;">
                        <thead>
                            <tr>
                            <th>Lieferanten ID</th>
                            <th>Name</th>
                            <th>Rabatt in %</th>
                            <th>Skonto</th>
                            <th>Erstellungsdatum</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}