{% extends "base.html" %}

{% block content %}
    <div style="margin-left: 5px">
        <p></p>
        <p class="font-weight-bold" style="font-size: 20pt">Profilansicht</p>
        <br>
        <p>Username: {{ user.get_username }}</p>
        <p>Nachname: {{ user.get_full_name}}</p>
        <p>Vorname: {{ user.get_shot_name}}</p>
        <p>E-Mail: {{ user.email }}</p>
        <p>Letzter Log-In: {{ user.last_login}}</p>
        <br>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Berechtigungen:</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for p in permissions %}
                <tr>
                <td>{{ p }}<td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
