<!DOCTYPE html>
<html lang="de">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
        <title>BWWS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.js" crossorigin="anonymous"></script>

      
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/static/css/popup.css">
  
        <script type="text/javascript" charset="utf8" src="/static/js/datatables_jquery.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

        <script src="{% static 'js/table.js' %}" ></script>        
        <script src="{% static 'js/base.js' %}" ></script>
        <script src="{% static 'js/table_data.js' %}"></script>        
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/color/48/000000/sales-channels.png">
        <!--https://img.icons8.com/ios-glyphs/30/000000/hot-sales-hours.png">-->
  
    </head>

    <body>

        {% if not user.is_authenticated %}
            <script>
            window.location.href =  window.location.origin + '/accounts/login/';
            </script>
        {% else %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="https://img.icons8.com/color/30/000000/sales-channels.png" alt="Brand Image"/>
            </a>
            <a class="navbar-brand" href="/">BWWS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="position: fixed;
                                                                                                                                                                                                               right: 5px;
                                                                                                                                                                                                               top: 8px;">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/stammdaten">Stammdaten</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/abc_analyse/">ABC-Analyse</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lieferantenauswahl
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/liefer_quali">Qualitativ</a>
                    <a class="dropdown-item" href="/liefer_quanti">Quantitativ</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="/kennziffern" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
                    Lagerkennzahlen
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/optimale_bestellmenge/">Optimale Bestellmenge</a>
                </li>
            </ul>
            </div>

            <ul class="navbar-nav">
            <div class="collapse navbar-collapse">
            
                <li class="nav-item">
                        <a class="nav-link" href="/impressum/">Impressum</span></a>
                    </li>

                <li class="nav-item" data-toggle="collapse">
                    <div class="nav-link">
                        <div class="popup" onclick="callPopUp()">Hilfe
                            <span class="popuptext" id="myPopup"></span>
                        </div>
                    </div>
                </li>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <li class="nav-item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profil
                            </a>
                            
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% if user.is_superuser %}
                                    <a class="dropdown-item" href="/admin">Admin-Menü</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="/show_user">Anzeigen</a>
                                </div>
                        </li>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Abmelden</a>
                    </li>
            
            </div>
            </ul>
    </nav>
    {% block content %}
    {% load static  %}
    <div class="container-fluid">
        <br>
        <div class='col-6 mx-auto float-none'>
            <div class='Jumbotron bg-transparent'>
                <h1 class="display-4">Herzlich Willkommen! </h1>
                <p class="lead">Sie sind derzeit angemeldet als {{ user.get_username }}. <a href='/accounts/logout/'>Nicht {{ user.get_username }}?</a></p>			
                <hr class="my-4">
                <p>Aktuell befinden Sie sich auf der Hauptseite Ihres Warenwirtschaftssystems.<br>
                Bitte wählen Sie aus der Menüleiste oben die gewünschte Funktion.<br>
                <br>
                Sie haben Fragen? Auf der rechten Seite der Navigationsleiste finden Sie den "Hilfe"-Button.<br>
                Über Ihn erhalten Sie auf jeder Unterseite eine Einführung zur aktuell geöffneten Funktion.<br>
                <br>
            Ihnen fehlen Berechtigungen? Bitte wenden Sie sich an Ihren zuständigen <a href='mailto://markus.menzemer@gbs-sha.de'>Administrator</a>.</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}    
    </body>
